body{
    background-image: linear-gradient(to bottom, #2c2a2a, #ff6200 );
    background-repeat: no-repeat;
}
* {
    margin: 0;
    padding: 0;
    outline: 0;
}
:root {
    --bgcolor: rgb(44, 42, 42);
    --text-color: rgb(244, 242, 242);
    --spacial-color: rgb(255, 98, 0);
}
nav {
    font-family: "Jost", sans-serif;
    height: 60px;
    background-color: var(--bgcolor);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav a{
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}
nav a:hover {
    background-color: var(--spacial-colar);
}
nav .home-link {
    margin-right: auto;
}
#sidebar-active {
    display: none;
}
.open-sidebar-button, .close-sidebar-button {
    display: none;
}
.material-symbols-outlined {
    color: var(--text-color);
}
@media(max-width: 769px){
    .links-container{
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;

        background-color: var(--bgcolor);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.75s ease-out;
    }
    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }
    .open-sidebar-button, .close-sidebar-button {
        padding: 20px;
        display: block; 
    }
    #sidebar-active:checked ~ .links-container{
        right: 0;
    }
    #sidebar-active:checked ~ #overlay{
        background-color: var(--spacial-color);
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
}
.intro{
    font-family: "Jost", sans-serif;
    font-size: 18px;
    color: #fec7a0;
    padding-left: 25px;
    
}
.text{
    font-family:"Jost", sans-serif;
    font-size: 15px;
    color: #efd3c2;
    padding: 30;
 
}
img{
    border-radius: 120px;
    box-shadow: 5px 5px 15px 5px rgb(198, 198, 198, 0.8);
    margin: 20px auto; 
    margin-top: 20px;
}
.footer {
    background: #111;
    padding: 140px 40px;
    color: #ffff;
    font-family:"Jost", sans-serif;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-col ul {
    padding: 0;
    list-style: none;
}
.privacy{
    top: 50px;
    position: relative;
}
.newsletter {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.newsletter input {
    padding: 10px;
    width: 200px;
}

.newsletter button {
    background: #f26522;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 6px;
}

.social-icons span {
    margin-right: 10px;
    font-size: 20px;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid #333;
    padding-top: 20px;
}
.privacy{
   padding-block: 20px;
}
.img1{
    display: flex;
    flex-direction: column;
}
.img2{
    display: flex;
    flex-direction: column;
}

@media(min-width:1025px){
    .imgs{
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
    .img1{
        flex-direction: row;
        gap: 40px;
    }
      .img2{
        flex-direction: row;
        gap: 40px;
    }
    .text{
        font-size: 18px;
        padding: 60;
    }
    .intro{
        padding: 60;
        font-size: 25;
    }
    .introcontainer{
        display: flex;
        flex-direction: row;
    }

}
