* {
    margin: 0;
    padding: 0;
    outline: 0;
}
html, body {
    height: 100%;
}
body {
    background-color: #2c2a2a;
}
:root {
    --bgcolor: rgb(44, 42, 42);
    --text-color: rgb(244, 242, 242);
    --spacial-color: rgb(255, 98, 0);
}
nav {
    font-family: "Jost", sans-serif;
    height: 60px;
    background-color: var(--bgcolor);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav a{
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}
nav a:hover {
    background-color: var(--spacial-colar);
}
nav .home-link {
    margin-right: auto;
}
#sidebar-active {
    display: none;
}
.open-sidebar-button, .close-sidebar-button {
    display: none;
}
.material-symbols-outlined {
    color: var(--text-color);
}
@media(max-width: 769px){
    .links-container{
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;

        background-color: var(--bgcolor);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.75s ease-out;
    }
    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }
    .open-sidebar-button, .close-sidebar-button {
        padding: 20px;
        display: block; 
    }
    #sidebar-active:checked ~ .links-container{
        right: 0;
    }
    #sidebar-active:checked ~ #overlay{
        background-color: var(--spacial-color);
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
}
.containerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    height: 280px;
    width: 280px;
    border: none;
    text-align: center;
    font-family: "Jersey 25", sans-serif;
    color:#e1e1e1;
}
button h2 {
    margin-top: 10px;
    font-size: 16px;
}
img {
    border-radius: 100px;
    box-shadow: 5px 5px 15px 5px rgb(198, 198, 198);
}
.writerBox1 #b1{
    background-image: linear-gradient(to bottom, #2c2a2a, #ff6200 );
    background-repeat: no-repeat;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 5px rgb(198, 198, 198, 0.2);
}
.writerBox1 #b2{
    background-image: linear-gradient(to top, #2c2a2a, #ff6200 );
    background-repeat: no-repeat;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 5px rgb(198, 198, 198, 0.2);
}
.writerBox1 #b3{
    background-image: linear-gradient(to bottom, #2c2a2a, #ff6200 );
    background-repeat: no-repeat;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 5px rgb(198, 198, 198, 0.2);
}
.writerBox2 #b4{
    background-image: linear-gradient(to top, #2c2a2a, #ff6200 );
    background-repeat: no-repeat;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 5px rgb(198, 198, 198, 0.2);
}
.writerBox2 #b5{
    background-image: linear-gradient(to bottom, #2c2a2a, #ff6200 );
    background-repeat: no-repeat;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 5px rgb(198, 198, 198, 0.2);
}
.writerBox2 #b6{
    background-image: linear-gradient(to top, #2c2a2a, #ff6200 );
    background-repeat: no-repeat;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 5px rgb(198, 198, 198, 0.2);
}
.writerBox3 #b7{
    background-image: linear-gradient(to bottom, #2c2a2a, #ff6200 );
    background-repeat: no-repeat;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 5px rgb(198, 198, 198, 0.2);
}
@media (min-width: 769px) {
    .containerBox {
        gap: 10px;
    }
    .writerBox1 {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .writerBox2 {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .writerBox1 #b1{
        background-image: linear-gradient(to bottom, #2c2a2a, #ff6200 );
        background-repeat: no-repeat;
        border-radius: 20px;
        box-shadow: 5px 5px 15px 5px rgb(198, 198, 198, 0.3);
    }
    .writerBox1 #b2{
        background-image: linear-gradient(to bottom, #2c2a2a, #ff6200 );
        background-repeat: no-repeat;
        border-radius: 20px;
        box-shadow: 5px 5px 15px 5px rgb(198, 198, 198, 0.3);
    }
    .writerBox1 #b3{
        background-image: linear-gradient(to bottom, #2c2a2a, #ff6200 );
        background-repeat: no-repeat;
        border-radius: 20px;
        box-shadow: 5px 5px 15px 5px rgb(198, 198, 198, 0.3);
    }
    .writerBox2 #b4{
        background-image: linear-gradient(to top, #2c2a2a, #ff6200 );
        background-repeat: no-repeat;
        border-radius: 20px;
        box-shadow: 5px 5px 15px 5px rgb(198, 198, 198, 0.3);
    }
    .writerBox2 #b5{
        background-image: linear-gradient(to top, #2c2a2a, #ff6200 );
        background-repeat: no-repeat;
        border-radius: 20px;
        box-shadow: 5px 5px 15px 5px rgb(198, 198, 198, 0.3);
    }
    .writerBox2 #b6{
        background-image: linear-gradient(to top, #2c2a2a, #ff6200 );
        background-repeat: no-repeat;
        border-radius: 20px;
        box-shadow: 5px 5px 15px 5px rgb(198, 198, 198, 0.3);
    }
    .writerBox3 #b7{
        background-image: linear-gradient(to bottom, #2c2a2a, #ff6200 );
        background-repeat: no-repeat;
        border-radius: 20px;
        box-shadow: 5px 5px 15px 5px rgb(198, 198, 198, 0.3);
    }
}
