* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
:root {
    --bgcolor: rgb(44, 42, 42);
    --text-color: rgb(244, 242, 242);
    --spacial-color: rgb(255, 98, 0);
}
body {
    background-color: var(--bgcolor);
}
nav {
    font-family: "Jost", sans-serif;
    height: 60px;
    background-color: var(--bgcolor);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav a{
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}
nav a:hover {
    background-color: var(--spacial-color);
}
nav .home-link {
    margin-right: auto;
}
#sidebar-active {
    display: none;
}
.open-sidebar-button, .close-sidebar-button {
    display: none;
}
.material-symbols-outlined {
    color: var(--text-color);
    animation-name: grow;
}
#root {
    background-image: url(/assets/img/turuncumarul.jpg);
    width: 100%;
    height: 100%;
    color: var(--text-color);
}
@media(max-width: 375px){
    .links-container{
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;

        background-color: var(--bgcolor);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.75s ease-out;
    }
    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }
    .open-sidebar-button, .close-sidebar-button {
        padding: 20px;
        display: block; 
    }
    #sidebar-active:checked ~ .links-container{
        right: 0;
    }
    #sidebar-active:checked ~ #overlay{
        background-color: var(--spacial-color);
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
}
.container {
    background-color: var(--spacial-color);
    color: var(--text-color);
    font-family: "Jost", sans-serif;
    font-size: 15px;
}
img {
    border-radius: 100px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 1);
}
.image1 p {
    text-align: center;
    font-size: 18px;
}
.writers {
    padding: 50px;
    box-shadow: 15px 15px 15px 15px rgb(3, 3, 3);
    margin-top: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.writers h1 {
    font-size: 18px;
}
.writers p {
    font-size: 15px;
    opacity: 0.8;
}
@media (min-width: 769px) {
    .container {
        margin: 100px;
        border-radius: 10px;
        box-shadow: 5px 5px 15px 5px rgb(3, 3, 3);
        font-size: 23px;
    }
}