body {
    margin: 0;
    font-family: 'Jost', sans-serif;;
    background: #0e0e0f;
    color: #fff;
}
.success-message {
    display: none;
    width: 100%;
    background: #1f8b40;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 18px;
}

•⁠  ⁠{
    margin: 0;
    padding: 0;
    outline: 0;
}
:root {
    --bgcolor: rgb(44, 42, 42);
    --text-color: rgb(244, 242, 242);
    --spacial-color: rgb(255, 98, 0);
}
nav {
    font-family: "Jost", sans-serif;
    height: 60px;
    background-color: var(--bgcolor);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav a{
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}
nav a:hover {
    background-color: var(--spacial-colar);
}
nav .home-link {
    margin-right: auto;
}
#sidebar-active {
    display: none;
}
.open-sidebar-button, .close-sidebar-button {
    display: none;
}
.material-symbols-outlined {
    color: var(--text-color);
    animation-name: grow;
}
#root {
    background-image: url(/assets/img/turuncumarul.jpg);
    width: 100%;
    height: 100%;
    color: var(--text-color);
}
@media(max-width: 375px){
    .links-container{
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;

        background-color: var(--bgcolor);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.75s ease-out;
    }
    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }
    .open-sidebar-button, .close-sidebar-button {
        padding: 20px;
        display: block; 
    }
    #sidebar-active:checked ~ .links-container{
        right: 0;
    }
    #sidebar-active:checked ~ #overlay{
        background-color: var(--spacial-color);
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
}

.contact-header {
    text-align: center;
    padding: 100px 0 60px;
    background: #111;
}

.contact-header h1 {
    font-size: 70px;
    font-weight: 800;
}

.contact-box-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px;
    flex-wrap: wrap;
}

.contact-box {
    background: #1a1a1a;
    padding: 40px;
    width: 300px;
    border-radius: 12px;
    text-align: center;
    transition: .3s;
}

.contact-box:hover {
    background: #222;
}

.icon {
    font-size: 40px;
    margin-bottom: 10px;
}

.form-section {
    display: flex;
    padding: 80px 50px;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.form-image img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
}

.form-content {
    width: 450px;
}

form input,
form select,
form textarea {
    width: 100%;
    padding: 15px;
    margin-top: 12px;
    border-radius: 8px;
    border: 1px solid #333;
    background: #0f0f0f;
    color: #fff;
}

.send-btn {
    background: #f26522;
    color: #fff;
    padding: 15px;
    border: none;
    margin-top: 15px;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    font-size: 18px;
}

.send-btn:hover {
    background: #ff7a36;
}

.footer {
    background: #111;
    padding: 60px 40px;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-col ul {
    padding: 0;
    list-style: none;
}

.newsletter {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.newsletter input {
    padding: 10px;
    width: 200px;
}

.newsletter button {
    background: #f26522;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 6px;
}

.social-icons span {
    margin-right: 10px;
    font-size: 20px;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid #333;
    padding-top: 20px;
}

@media (max-width: 900px) {
    .form-section {
        flex-direction: column;
        text-align: center;
    }

    .form-content {
        width: 100%;
    }

    .form-image img {
        width: 280px;
        height: 280px;
    }
}
